<!DOCTYPE html>

<head>
    <title>Full Form</title>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

</head>

<body>

<div>

<h1> Customer Form </h1></br>

<form class="pure-form" name="customer_form" method="POST" action='/'>
    <label >Customer</label></br></br>

    customerID: <input type="number" name="customerID" placeholder="generated automaticly" disabled><br><br>
    rbCustomerID*: <input type="text" name="rbCustomerID" maxlength="50" placeholder="must be unique" required></br></br>
    companyName*: <input type="text" name="companyName" maxlength="200" required></br></br>
    companyLocalID*: <input type="text" name="companyLocalID" maxlength="200" required></br></br>
    companyLocalIDType*: <input type="text" name="companyLocalIDType" maxlength="100" required></br></br>
    custTypeID*: <input type="number" name="custTypeID" required></br></br>
    startDate: <input type="date" name="startDate"></br></br>
    domicile*: <input type="text" name="domicile" maxlength="2" required></br></br></br></br>

    <button type="submit" value="submit">Submit</button></br></br></br></br>
</form> </br></br>

</div>

</body>
