<!DOCTYPE html>

<head>
    <title> Client's Form</title>
    <meta charset = "UTF-8">

</head>

<h1> Enter client's data </h1></br>

<form name="full_form" method="POST" action='/'>
    <label>Client</label></br></br>
<!--    customerID: <input type="number" name="customerID"></br></br> -->
    rbCustomerID: <input type="text" name="rbCustomerID" maxlength="50" required></br></br>
    companyName: <input type="text" name="companyName" maxlength="200" required></br></br>
    companyLocalID: <input type="text" name="companyLocalID" maxlength="200" required></br></br>
    companyLocalIDType: <input type="text" name="companyLocalIDType" maxlength="100" required></br></br>
    custTypeID: <input type="number" name="custTypeID" required></br></br>
    startDate: <input type="date" name="startDate"></br></br>
    domicile: <input type="text" name="domicile" maxlength="2" required></br></br></br></br>

    <label>PaymentSchedule</label></br></br>
<!--    paymentScheduleID: <input type="number" name="paymentScheduleID"></br></br> -->
    value: <input type="number" name="value" step="0.01" ></br></br>
    frequency: <input type="number" name="frequency" step="0.01"></br></br>
    firstPaymentDate: <input type="date" name="firstPaymentDate" ></br></br>
    lastPaymentDate: <input type="date" name="lastPaymentDate" ></br></br>
    active: <input type="number" name="active" ></br></br>
    customerID: <input type="number" name="customerID" ></br></br></br></br>


    <label>Licence</label></br></br>
<!--    licenceID: <input type="number" name="licenceID"></br></br> -->
    type: <input type="number" name="type"></br></br>
    issueDate: <input type="date" name="issueDate"></br></br>
    validFrom: <input type="date" name="validFrom" ></br></br>
    validTo: <input type="date" name="validTo" ></br></br>
    activationCode: <input type="te" name="activationCode" ></br></br>
    paymentScheduleID: <input type="number" name="paymentScheduleID" ></br></br>

    <label>User</label></br></br>
<!--    userID: <input type="number" name="userID"></br></br> -->
    userStartDate: <input type="date" name="userStartDate"></br></br>
    username: <input type="text" maxlength="100" name="username"></br></br>
    city: <input type="text" maxlength="200" name="city" ></br></br>
    userDomicile: <input type="text" maxlength="2" name="userDomicile" ></br></br>
    customerID: <input type="number" name="customerID" ></br></br>
    licenceID: <input type="number" name="licenceID" ></br></br>






<!--    customerID: <input type="number" name="customerID" ></br></br></br></br> -->
    <button type="submit" value="submit">Submit</button></br></br></br></br>
</form> </br></br>

{% if rbCustomerID, companyName, companyLocalID, companyLocalIDType, custTypeID, startDate, domicile %}

{{rbCustomerID}}, {{companyName}}, {{companyLocalID}}, {{companyLocalIDType}}, {{custTypeID}}, {{startDate}}, {{domicile}}

{% endif %}
<body>
</body>
