<!DOCTYPE html>

<head>
    <title> Client's Form</title>
    <meta charset = "UTF-8">

</head>

<h1> Enter client's data </h1></br>

<form name="full_form" method="POST" action='/'>
    <h1>CLIENT</h1></br></br>
<!--    customerID: <input type="number" name="customerID"></br></br> -->
    rbCustomerID: <input type="text" name="rbCustomerID"></br></br>
    companyName: <input type="text" name="companyName"></br></br>
    companyLocalID: <input type="text" name="companyLocalID"></br></br>
    companyLocalIDType: <input type="text" name="companyLocalIDType"></br></br>
    custTypeID: <input type="number" name="custTypeID"></br></br>
    startDate: <input type="date" name="startDate"></br></br>
    domicile: <input type="text" name="domicile"></br></br>
    <button type="submit" value="submit">Submit</button>
</form> </br></br>

{% if rbCustomerID, companyName, companyLocalID, companyLocalIDType, custTypeID, startDate, domicile %}

{{rbCustomerID}}, {{companyName}}, {{companyLocalID}}, {{companyLocalIDType}}, {{custTypeID}}, {{startDate}}, {{domicile}}

{% endif %}
<body>
</body>
