<!DOCTYPE html>

<head>
    <title>Full Form</title>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

</head>

<body>

<div>

<h1> Enter client's data </h1></br>

<form class="pure-form" name="full_form" method="POST" action='/'>
    <label>Customer</label></br></br>

    customerID: <input type="number" name="customerID" placeholder="generated automaticly" disabled><br><br>
    rbCustomerID*: <input type="text" name="rbCustomerID" maxlength="50" placeholder="must be unique" required></br></br>
    companyName*: <input type="text" name="companyName" maxlength="200" required></br></br>
    companyLocalID*: <input type="text" name="companyLocalID" maxlength="200" required></br></br>
    companyLocalIDType*: <input type="text" name="companyLocalIDType" maxlength="100" required></br></br>
    custTypeID*: <input type="number" name="custTypeID" required></br></br>
    startDate: <input type="date" name="startDate"></br></br>
    domicile*: <input type="text" name="domicile" maxlength="2" required></br></br></br></br>

    <label >PaymentSchedule</label></br></br>
    paymentScheduleID: <input type="number" name="paymentScheduleID" placeholder="generated automaticly" disabled></br></br>
    value*: <input type="number" name="value" step="0.01" required ></br></br>
    frequency in days*: <input type="number" name="frequency" step="0.01" required></br></br>
    firstPaymentDate: <input type="date" name="firstPaymentDate"></br></br>
    lastPaymentDate: <input type="date" name="lastPaymentDate"></br></br>
    active*: <input type="number" name="active" min="0" max="1" placeholder="type '0' for 'no' and '1' for 'yes'" required ></br></br></br></br>


    <label >Licence</label></br></br>
    licenceID: <input type="number" name="licenceID" placeholder="generated automaticly" disabled></br></br>
    type*: <input type="number" name="type" placeholder= "takes '0' or '1'" required></br></br>
    issueDate: <input type="date" name="issueDate"></br></br>
    validFrom: <input type="date" name="validFrom" ></br></br>
    validTo: <input type="date" name="validTo" ></br></br>
    activationCode*: <input type="text" name="activationCode" required></br></br></br></br>

    <label >User</label></br></br>
    userID: <input type="number" name="userID" placeholder="generated automaticly" disabled></br></br>
    userStartDate: <input type="date" name="userStartDate"></br></br>
    username*: <input type="text" maxlength="100" name="username" placeholder="must be unique" required></br></br>
    city*: <input type="text" maxlength="200" name="city" required></br></br>
    userDomicile*: <input type="text" maxlength="2" name="userDomicile"  required></br></br></br></br>

    <label >Contact</label></br></br>
    contactID: <input type="number" name="contactID" placeholder="generated automaticly" disabled></br></br>
    contactType*: <input type="number" name="contactType" placeholder= "takes '0' or '1'" required></br></br>
    contactDetail*: <input type="text" maxlength="500" name="contactDetail" required></br></br></br></br>

    <label >AdminUser</label></br></br>
    adminUserID: <input type="number" name="adminUserID" placeholder="generated automaticly" disabled></br></br>
    password*: <input type="text" maxlength="200" name="password" required></br></br>
    paymentContact*: <input type="number" name="paymentContact" placeholder= "takes '0' or '1'" required></br></br>
    level*: <input type="number" name="level" placeholder= "takes '0' or '1'" required></br></br></br></br>

    <label >KeyCode</label></br></br>
    keyCodeID: <input type="number" name="keyCodeID" placeholder="generated automaticly" disabled></br></br>
    keyCodeVersion*: <input type="number" name="keyCodeVersion" required></br></br>
    keyCode*: <input type="text" name="keyCode" maxlength="200" required></br></br>
    kodeActive*: <input type="number" name="kodeActive" placeholder="type '0' for 'no' and '1' for 'yes'" required></br></br>
    kodeActivationDate: <input type="date" name="kodeActivationDate"></br></br></br></br>

    <button type="submit" value="submit">Submit</button></br></br></br></br>
</form> </br></br>

</div>

{% if rbCustomerID, companyName, companyLocalID, companyLocalIDType, custTypeID, startDate, domicile %}

{{rbCustomerID}}, {{companyName}}, {{companyLocalID}}, {{companyLocalIDType}}, {{custTypeID}}, {{startDate}}, {{domicile}}

{% endif %}

</body>
